.about-section {
    color: white;
    margin-left: 34px;
    margin-right: 34px;
    padding-top: 30px;
}

.about-section > h2 {
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 0;
}

.about-section > p {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 5px;
    color:rgba(141, 141, 141, 1);
}