* {
    font-family: inter, sans-serif;
}

body {
    margin: 0;
    background-color: black;
}

.main-content {
    width: 550px;
    height: 868px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 44px;
    background-color: rgba(35, 37, 44, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 317px;
    height: 780px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(26, 27, 33, 1);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .card {
        margin-left: 0;
        margin-right: 0;
    }

    .main-content {
        width: 350px;
    }
}
